## **TelecomX**

#### **Extracción**

In [31]:
import pandas as pd
import ast

In [32]:
df = pd.read_json('../data/TelecomX_Data.json')
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [34]:
def expandir_columns(df, column_name):
    # convertir strings a dictionaries
    df[column_name] = df[column_name].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
    
    # expandir el column_name en múltiples columnas 
    columns_expanded = pd.json_normalize(df[column_name])

    # usar directamente los nombres de las claves sin prefijo
    # columns_expanded.columns ya contiene los nombres de las claves

    # eliminar la columna original y concatenar las nuevas
    df.drop(column_name, axis=1, inplace=True)
    df[columns_expanded.columns] = columns_expanded

columnas_anidadas = ['customer', 'phone', 'internet', 'account']
for col in columnas_anidadas:
    expandir_columns(df, col)

In [35]:
df.head(10)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
5,0013-MHZWF,No,Female,0,No,Yes,9,Yes,No,DSL,...,No,No,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),69.40,571.45
6,0013-SMEOE,No,Female,1,Yes,No,71,Yes,No,Fiber optic,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),109.70,7904.25
7,0014-BMAQU,No,Male,0,Yes,No,63,Yes,Yes,Fiber optic,...,No,No,Yes,No,No,Two year,Yes,Credit card (automatic),84.65,5377.8
8,0015-UOCOJ,No,Female,1,No,No,7,Yes,No,DSL,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,48.20,340.35
9,0016-QLJIS,No,Female,0,Yes,Yes,65,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Mailed check,90.45,5957.9

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [37]:
import numpy as np

In [38]:
columnas_numericas = ['SeniorCitizen', 'tenure']
df[columnas_numericas] = df[columnas_numericas].astype(np.int64)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [39]:
df_vacios_churn = df[df['Churn'].str.strip() == '']
print(f"Filas con 'Churn' vacío: {len(df_vacios_churn)}")

Filas con 'Churn' vacío: 224

In [40]:
cols_interes = [
    'customerID', 'tenure', 'PhoneService', 'MultipleLines',
    'InternetService', 'OnlineSecurity', 'OnlineBackup',
    'DeviceProtection', 'TechSupport', 'StreamingTV',
    'StreamingMovies', 'Contract', 'PaperlessBilling',
    'PaymentMethod', 'Charges.Monthly', 'Charges.Total'
]

df_vacios_churn[cols_interes].head(10)

,customerID,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
30,0047-ZHDTW,11,Yes,Yes,Fiber optic,Yes,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),79.00,929.3
75,0120-YZLQA,71,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),19.90,1355.1
96,0154-QYHJU,29,Yes,No,DSL,Yes,Yes,No,Yes,No,No,One year,Yes,Electronic check,58.75,1696.2
98,0162-RZGMZ,5,Yes,No,DSL,Yes,Yes,No,Yes,No,No,Month-to-month,No,Credit card (automatic),59.90,287.85
175,0274-VVQOQ,65,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),103.15,6792.45
219,0328-IBUPK,51,No,No phone service,DSL,Yes,No,No,Yes,No,No,Two year,No,Bank transfer (automatic),34.20,1782
312,0448-YZNZE,27,Yes,Yes,Fiber optic,No,Yes,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,95.55,2510.2
351,0510-EXSMQ,9,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,No,Electronic check,69.05,651.5
368,0530-HBKHZ,1,No,No phone service,DSL,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,24.80,24.8
374,0534-JRNIG,6,Yes,Yes,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),93.55,536.4

In [41]:
# Reemplazar valores vacíos en la columna 'Churn'
df['Churn'] = df['Churn'].replace('', 'Desconocido')
df['Churn'] = df['Churn'].str.strip()  # Limpiar espacios adicionales

In [42]:
df.sample(20)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
6314,8685-WHQPW,Yes,Female,1,No,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),74.40,1692.6
2676,3719-TDVQB,No,Female,1,Yes,No,54,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Mailed check,18.95,1031.1
6000,8200-LGKSR,No,Male,0,Yes,No,71,Yes,Yes,DSL,...,No,Yes,Yes,Yes,Yes,Two year,No,Electronic check,83.20,6126.1
4166,5707-ORNDZ,Yes,Male,1,No,No,9,Yes,Yes,DSL,...,No,No,No,No,No,Month-to-month,No,Electronic check,54.55,494.05
5281,7216-EWTRS,Yes,Female,1,Yes,No,1,Yes,Yes,Fiber optic,...,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,100.80,100.8
4649,6368-NWMCE,No,Female,0,No,No,38,Yes,Yes,DSL,...,Yes,No,Yes,No,Yes,Month-to-month,No,Credit card (automatic),68.15,2656.3
6450,8868-GAGIO,No,Male,0,Yes,No,45,Yes,Yes,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Mailed check,84.55,3713.95
1538,2205-YMZZJ,Yes,Male,1,No,No,7,Yes,Yes,Fiber optic,...,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.80,546.95
29,0042-RLHYP,No,Female,0,Yes,Yes,69,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,No,Bank transfer (automatic),19.70,1396.9
2098,2955-BJZHG,Yes,Male,0,Yes,Yes,17,Yes,No,Fiber optic,...,No,No,No,Yes,No,Month-to-month,No,Electronic check,80.85,1400.85
455,0643-OKLRP,Yes,Female,1,Yes,No,47,Yes,Yes,Fiber optic,...,No,No,No,No,No,Month-to-month,No,Electronic check,80.35,3825.85
1252,1792-UXAFY,Yes,Female,1,No,No,17,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,No,Month-to-month,Yes,Electronic check,89.15,1496.9
3536,4877-TSOFF,No,Female,0,Yes,Yes,55,Yes,Yes,DSL,...,Yes,No,Yes,No,Yes,One year,Yes,Bank transfer (automatic),75.75,4264.25
815,1156-ZFYDO,No,Female,0,No,No,1,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Electronic check,19.75,19.75
4797,6574-MCOEH,No,Female,0,Yes,Yes,33,Yes,Yes,DSL,...,No,Yes,Yes,Yes,Yes,One year,Yes,Electronic check,79.15,2531.4
2268,3164-YAXFY,No,Male,0,No,No,57,No,No phone service,DSL,...,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,53.75,3196
3489,4821-WQOYN,No,Female,0,Yes,Yes,72,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),20.10,1326.25
5327,7274-CGTOD,No,Male,0,No,No,62,No,No phone service,DSL,...,Yes,Yes,Yes,No,No,Two year,Yes,Bank transfer (automatic),43.70,2618.3
4696,6434-TTGJP,No,Male,0,Yes,Yes,10,No,No phone service,DSL,...,Yes,Yes,Yes,No,Yes,Two year,No,Credit card (automatic),53.70,521
526,0743-HRVFF,No,Female,0,Yes,Yes,51,No,No phone service,DSL,...,No,Yes,Yes,Yes,Yes,One year,Yes,Electronic check,56.15,2898.95

In [43]:
df['Charges.Total'] = df['Charges.Total'].replace(' ', np.nan)

In [44]:
df['Charges.Total'] = df['Charges.Total'].astype(np.float64)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [46]:
df['Charges.Total'] = df['Charges.Total'].fillna(0.0)

In [48]:
col_binarias = ['Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
                'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling',]

for col in col_binarias:
    df[col] = df[col].replace({'Yes': 1, 'No': 0})

C:\Users\skybl\AppData\Local\Temp\ipykernel_22908\3794305891.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].replace({'Yes': 1, 'No': 0})

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   int64
 5   Dependents        7267 non-null   int64
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   int64
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   int64
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   float64
dtypes: float64(2), int64(6), object(13)
memory usage: 1.2+ MB

In [54]:
for col in col_binarias:
    print(f"Valores únicos en '{col}':")
    print(df[col].unique())
    print()

Valores únicos en 'Partner':
[1 0]

Valores únicos en 'Dependents':
[1 0]

Valores únicos en 'PhoneService':
[1 0]

Valores únicos en 'MultipleLines':
[0 1 'No phone service']

Valores únicos en 'OnlineSecurity':
[0 1 'No internet service']

Valores únicos en 'OnlineBackup':
[1 0 'No internet service']

Valores únicos en 'DeviceProtection':
[0 1 'No internet service']

Valores únicos en 'TechSupport':
[1 0 'No internet service']

Valores únicos en 'StreamingTV':
[1 0 'No internet service']

Valores únicos en 'StreamingMovies':
[0 1 'No internet service']

Valores únicos en 'PaperlessBilling':
[1 0]

In [55]:
# columnas que no se pudieron pasar a binario porque tienen mas de dos valores unicos.
def binamizar(valor):
    if valor == 'Yes':
        return 1
    elif valor == 'No':
        return 0
    elif valor in ['No phone service', 'No internet service']:
        return 0
    else:
        return valor

In [57]:
col_binarias = ['Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
                'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling',]

for col in col_binarias:
    df[col] = df[col].apply(binamizar)

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   int64
 5   Dependents        7267 non-null   int64
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   int64
 8   MultipleLines     7267 non-null   int64
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   int64
 11  OnlineBackup      7267 non-null   int64
 12  DeviceProtection  7267 non-null   int64
 13  TechSupport       7267 non-null   int64
 14  StreamingTV       7267 non-null   int64
 15  StreamingMovies   7267 non-null   int64
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   int64
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   float64
dtypes: float64(2), int64(13), object(6)
memory usage: 1.2+ MB