## **TelecomX**

#### **Extracción**

In [65]:
import pandas as pd
import ast

In [66]:
df = pd.read_json('../data/TelecomX_Data.json')
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [68]:
def expandir_columns(df, column_name):
    # convertir strings a dictionaries
    df[column_name] = df[column_name].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else x)
    
    # expandir el column_name en múltiples columnas 
    columns_expanded = pd.json_normalize(df[column_name])

    # usar directamente los nombres de las claves sin prefijo
    # columns_expanded.columns ya contiene los nombres de las claves

    # eliminar la columna original y concatenar las nuevas
    df.drop(column_name, axis=1, inplace=True)
    df[columns_expanded.columns] = columns_expanded

columnas_anidadas = ['customer', 'phone', 'internet', 'account']
for col in columnas_anidadas:
    expandir_columns(df, col)

In [69]:
df.head(10)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
5,0013-MHZWF,No,Female,0,No,Yes,9,Yes,No,DSL,...,No,No,Yes,Yes,Yes,Month-to-month,Yes,Credit card (automatic),69.40,571.45
6,0013-SMEOE,No,Female,1,Yes,No,71,Yes,No,Fiber optic,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),109.70,7904.25
7,0014-BMAQU,No,Male,0,Yes,No,63,Yes,Yes,Fiber optic,...,No,No,Yes,No,No,Two year,Yes,Credit card (automatic),84.65,5377.8
8,0015-UOCOJ,No,Female,1,No,No,7,Yes,No,DSL,...,No,No,No,No,No,Month-to-month,Yes,Electronic check,48.20,340.35
9,0016-QLJIS,No,Female,0,Yes,Yes,65,Yes,Yes,DSL,...,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Mailed check,90.45,5957.9

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [71]:
import numpy as np

In [72]:
columnas_numericas = ['SeniorCitizen', 'tenure']
df[columnas_numericas] = df[columnas_numericas].astype(np.int64)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [73]:
df_vacios_churn = df[df['Churn'].str.strip() == '']
print(f"Filas con 'Churn' vacío: {len(df_vacios_churn)}")

Filas con 'Churn' vacío: 224

In [74]:
cols_interes = [
    'customerID', 'tenure', 'PhoneService', 'MultipleLines',
    'InternetService', 'OnlineSecurity', 'OnlineBackup',
    'DeviceProtection', 'TechSupport', 'StreamingTV',
    'StreamingMovies', 'Contract', 'PaperlessBilling',
    'PaymentMethod', 'Charges.Monthly', 'Charges.Total'
]

df_vacios_churn[cols_interes].head(10)

,customerID,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
30,0047-ZHDTW,11,Yes,Yes,Fiber optic,Yes,No,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),79.00,929.3
75,0120-YZLQA,71,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Credit card (automatic),19.90,1355.1
96,0154-QYHJU,29,Yes,No,DSL,Yes,Yes,No,Yes,No,No,One year,Yes,Electronic check,58.75,1696.2
98,0162-RZGMZ,5,Yes,No,DSL,Yes,Yes,No,Yes,No,No,Month-to-month,No,Credit card (automatic),59.90,287.85
175,0274-VVQOQ,65,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Bank transfer (automatic),103.15,6792.45
219,0328-IBUPK,51,No,No phone service,DSL,Yes,No,No,Yes,No,No,Two year,No,Bank transfer (automatic),34.20,1782
312,0448-YZNZE,27,Yes,Yes,Fiber optic,No,Yes,Yes,No,No,Yes,Month-to-month,Yes,Electronic check,95.55,2510.2
351,0510-EXSMQ,9,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,No,Electronic check,69.05,651.5
368,0530-HBKHZ,1,No,No phone service,DSL,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,24.80,24.8
374,0534-JRNIG,6,Yes,Yes,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),93.55,536.4

In [75]:
# Reemplazar valores vacíos en la columna 'Churn'
df['Churn'] = df['Churn'].replace('', 'Desconocido')
df['Churn'] = df['Churn'].str.strip()  # Limpiar espacios adicionales

In [76]:
df.sample(20)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
4327,5943-PWAPA,Desconocido,Female,0,Yes,No,53,Yes,No,Fiber optic,...,No,No,Yes,Yes,Yes,One year,Yes,Electronic check,93.45,4872.2
5284,7218-HKQFK,Yes,Male,0,Yes,No,2,Yes,No,Fiber optic,...,No,No,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,94.20,167.5
6293,8651-ENBZX,Yes,Female,1,No,No,60,Yes,Yes,Fiber optic,...,No,Yes,Yes,Yes,Yes,One year,Yes,Electronic check,106.00,6441.4
449,0637-UBJRP,Yes,Male,0,Yes,Yes,13,Yes,No,Fiber optic,...,No,No,No,No,Yes,Month-to-month,No,Electronic check,84.05,1095.3
3622,4992-LTJNE,No,Male,0,Yes,Yes,72,Yes,Yes,DSL,...,No,No,No,No,No,Two year,No,Bank transfer (automatic),55.30,3983.6
3754,5160-UXJED,No,Male,0,No,Yes,17,Yes,No,DSL,...,No,No,No,No,No,One year,No,Mailed check,44.60,681.4
182,0285-INHLN,No,Male,0,Yes,Yes,27,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Credit card (automatic),54.75,1510.3
7009,9646-QWDSB,Desconocido,Female,0,Yes,Yes,71,Yes,Yes,Fiber optic,...,No,Yes,Yes,No,Yes,Two year,No,Electronic check,100.45,7159.7
2591,3617-XLSGQ,No,Female,0,Yes,Yes,66,Yes,Yes,Fiber optic,...,Yes,Yes,No,Yes,Yes,Two year,No,Bank transfer (automatic),109.25,7082.5
5675,7754-IXRMC,No,Female,0,No,No,1,Yes,No,DSL,...,No,No,No,No,No,Month-to-month,No,Mailed check,45.35,45.35
1474,2114-MGINA,Yes,Female,0,No,No,14,Yes,No,Fiber optic,...,No,No,No,Yes,Yes,Month-to-month,Yes,Mailed check,89.80,1129.1
5355,7314-OXENN,Yes,Male,0,No,No,2,Yes,Yes,Fiber optic,...,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,82.00,184.65
2680,3721-WKIIL,No,Female,0,No,No,27,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Two year,Yes,Mailed check,19.60,561.15
2417,3374-PZLXD,No,Male,0,No,No,34,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,19.70,675.6
576,0823-HSCDJ,Yes,Male,1,No,No,52,No,No phone service,DSL,...,Yes,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,49.15,2550.9
2335,3255-GRXMG,No,Male,0,No,Yes,18,Yes,No,DSL,...,No,No,No,No,No,Month-to-month,Yes,Credit card (automatic),45.65,747.2
3999,5469-CTCWN,Yes,Male,0,Yes,Yes,61,Yes,Yes,Fiber optic,...,Yes,No,No,Yes,Yes,One year,Yes,Electronic check,106.00,6547.7
1685,2386-OWURY,No,Female,0,No,No,58,Yes,No,Fiber optic,...,No,No,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,95.30,5817.7
766,1090-PYKCI,No,Female,0,Yes,Yes,69,Yes,Yes,Fiber optic,...,Yes,Yes,Yes,Yes,No,One year,Yes,Credit card (automatic),105.10,7234.8
5779,7898-PDWQE,No,Male,0,Yes,No,71,Yes,Yes,DSL,...,Yes,Yes,Yes,No,Yes,Two year,No,Credit card (automatic),80.40,5727.15

In [77]:
df['Charges.Total'] = df['Charges.Total'].replace(' ', np.nan)

In [78]:
df['Charges.Total'] = df['Charges.Total'].astype(np.float64)

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7256 non-null   float64
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [80]:
df['Charges.Total'] = df['Charges.Total'].fillna(0.0)

In [81]:
df['Cuentas_Diarias'] = df['Charges.Monthly'] / 30

In [82]:
col_binarias = ['Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
                'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling',]

for col in col_binarias:
    df[col] = df[col].replace({'Yes': 1, 'No': 0})

C:\Users\skybl\AppData\Local\Temp\ipykernel_22908\3794305891.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].replace({'Yes': 1, 'No': 0})

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   int64
 5   Dependents        7267 non-null   int64
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   int64
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   int64
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   float64
 21  Cuentas_Diarias   7267 non-null   float64
dtypes: float64(3), int64(6), object(13)
memory usage: 1.2+ MB

In [84]:
for col in col_binarias:
    print(f"Valores únicos en '{col}':")
    print(df[col].unique())
    print()

Valores únicos en 'Partner':
[1 0]

Valores únicos en 'Dependents':
[1 0]

Valores únicos en 'PhoneService':
[1 0]

Valores únicos en 'MultipleLines':
[0 1 'No phone service']

Valores únicos en 'OnlineSecurity':
[0 1 'No internet service']

Valores únicos en 'OnlineBackup':
[1 0 'No internet service']

Valores únicos en 'DeviceProtection':
[0 1 'No internet service']

Valores únicos en 'TechSupport':
[1 0 'No internet service']

Valores únicos en 'StreamingTV':
[1 0 'No internet service']

Valores únicos en 'StreamingMovies':
[0 1 'No internet service']

Valores únicos en 'PaperlessBilling':
[1 0]

In [85]:
# columnas que no se pudieron pasar a binario porque tienen mas de dos valores unicos.
def binamizar(valor):
    if valor == 'Yes':
        return 1
    elif valor == 'No':
        return 0
    elif valor in ['No phone service', 'No internet service']:
        return 0
    else:
        return valor

In [86]:
col_binarias = ['Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
                'TechSupport', 'StreamingTV', 'StreamingMovies', 'PaperlessBilling',]

for col in col_binarias:
    df[col] = df[col].apply(binamizar)

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 22 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   int64
 5   Dependents        7267 non-null   int64
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   int64
 8   MultipleLines     7267 non-null   int64
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   int64
 11  OnlineBackup      7267 non-null   int64
 12  DeviceProtection  7267 non-null   int64
 13  TechSupport       7267 non-null   int64
 14  StreamingTV       7267 non-null   int64
 15  StreamingMovies   7267 non-null   int64
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   int64
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   float64
 21  Cuentas_Diarias   7267 non-null   float64
dtypes: float64(3), int64(13), object(6)
memory usage: 1.2+ MB

In [88]:
df.describe()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,PaperlessBilling,Charges.Monthly,Charges.Total,Cuentas_Diarias
count,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000,7267.000000
mean,0.162653,0.484106,0.300124,32.346498,0.902711,0.421770,0.285950,0.344571,0.342782,0.289528,0.383927,0.387505,0.593230,64.720098,2277.182035,2.157337
std,0.369074,0.499782,0.458343,24.571773,0.296371,0.493876,0.451897,0.475261,0.474672,0.453575,0.486374,0.487214,0.491265,30.129572,2268.648587,1.004319
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,0.000000,0.608333
25%,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.425000,396.200000,1.180833
50%,0.000000,0.000000,0.000000,29.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,70.300000,1389.200000,2.343333
75%,0.000000,1.000000,1.000000,55.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,89.875000,3778.525000,2.995833
max,1.000000,1.000000,1.000000,72.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,118.750000,8684.800000,3.958333

In [89]:
df[df['Churn'] == 'Desconocido'].head(10)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,Cuentas_Diarias
30,0047-ZHDTW,Desconocido,Female,0,0,0,11,1,1,Fiber optic,...,0,0,0,0,Month-to-month,1,Bank transfer (automatic),79.00,929.30,2.633333
75,0120-YZLQA,Desconocido,Male,0,0,0,71,1,0,No,...,0,0,0,0,Two year,1,Credit card (automatic),19.90,1355.10,0.663333
96,0154-QYHJU,Desconocido,Male,0,0,0,29,1,0,DSL,...,0,1,0,0,One year,1,Electronic check,58.75,1696.20,1.958333
98,0162-RZGMZ,Desconocido,Female,1,0,0,5,1,0,DSL,...,0,1,0,0,Month-to-month,0,Credit card (automatic),59.90,287.85,1.996667
175,0274-VVQOQ,Desconocido,Male,1,1,0,65,1,1,Fiber optic,...,1,0,1,1,One year,1,Bank transfer (automatic),103.15,6792.45,3.438333
219,0328-IBUPK,Desconocido,Female,0,1,1,51,0,0,DSL,...,0,1,0,0,Two year,0,Bank transfer (automatic),34.20,1782.00,1.140000
312,0448-YZNZE,Desconocido,Male,1,1,0,27,1,1,Fiber optic,...,1,0,0,1,Month-to-month,1,Electronic check,95.55,2510.20,3.185000
351,0510-EXSMQ,Desconocido,Female,0,0,0,9,1,0,Fiber optic,...,0,0,0,0,Month-to-month,0,Electronic check,69.05,651.50,2.301667
368,0530-HBKHZ,Desconocido,Female,1,1,0,1,0,0,DSL,...,0,0,0,0,Month-to-month,1,Electronic check,24.80,24.80,0.826667
374,0534-JRNIG,Desconocido,Female,0,0,0,6,1,1,Fiber optic,...,0,0,1,1,Month-to-month,1,Bank transfer (automatic),93.55,536.40,3.118333

In [90]:
df[df['Charges.Total'] == 0.0].head(10)

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total,Cuentas_Diarias
975,1371-DWPAZ,No,Female,0,1,1,0,0,0,DSL,...,1,1,1,0,Two year,0,Credit card (automatic),56.05,0.0,1.868333
1775,2520-SGTTA,No,Female,0,1,1,0,1,0,No,...,0,0,0,0,Two year,0,Mailed check,20.00,0.0,0.666667
1955,2775-SEFEE,No,Male,0,0,1,0,1,1,DSL,...,0,1,0,0,Two year,1,Bank transfer (automatic),61.90,0.0,2.063333
2075,2923-ARZLG,No,Male,0,1,1,0,1,0,No,...,0,0,0,0,One year,1,Mailed check,19.70,0.0,0.656667
2232,3115-CZMZD,No,Male,0,0,1,0,1,0,No,...,0,0,0,0,Two year,0,Mailed check,20.25,0.0,0.675000
2308,3213-VVOLG,No,Male,0,1,1,0,1,1,No,...,0,0,0,0,Two year,0,Mailed check,25.35,0.0,0.845000
2930,4075-WKNIU,No,Female,0,1,1,0,1,1,DSL,...,1,1,1,0,Two year,0,Mailed check,73.35,0.0,2.445000
3134,4367-NUYAO,No,Male,0,1,1,0,1,1,No,...,0,0,0,0,Two year,0,Mailed check,25.75,0.0,0.858333
3203,4472-LVYGI,No,Female,0,1,1,0,0,0,DSL,...,1,1,1,0,Two year,1,Bank transfer (automatic),52.55,0.0,1.751667
4169,5709-LVOEQ,No,Female,0,1,1,0,1,0,DSL,...,1,0,1,1,Two year,0,Mailed check,80.85,0.0,2.695000